.Main-page__inner {
    display: flex;
    padding: 30px 0 0;
    position: relative;
}

.Main-page__aside {
    width: 20%;
}

.Main-page__content {
    width: 80%;
    padding-left: 50px;
}

.Title {
    margin-bottom: 30px;
    text-align: center;
}